{% extends 'core/base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %}Faq´s{% endblock title %}

<!-- Banner Background img -->
{% block banner-img %}
    background-image: url('{% static 'core/img/galeria/escena/2.jpg' %}');
{% endblock banner-img %}

<!-- Principal Banner Text -->
{% block banner-text %}
    <h1>Faqs</h1>
    <h4>Preguntas Frecuentes</h4>
{% endblock banner-text %}

<!-- Sub Banner Background Color -->
{% block subbanner-color %}
    background-color: #23b7d6;
{% endblock %}

<!-- Head Text -->
{% block head-text %}
    <div class="">
            <p>Si no encuentras alguna de tus dudas, ponte en contacto con nosotros y con gusto te responderemos.</p>
            <div class="kit-contacto">
                <a><i class='fab fa-whatsapp'></i></a>
                <a><i class='fas fa-envelope'></i></a>
				<a><i class='fas fa-phone'></i></a>
                <span> | </span>
                <a><i class="fab fa-facebook-f"></i></a>
				<a><i class="fab fa-twitter"></i></a>
				<a><i class="fab fa-instagram"></i></a>
            </div>    
        </div>
{% endblock head-text %}

<!--  Contenido -->
{% block content %}
    <div class="container-faqs">
        {% for i in faqs %}
        <button class="accordion">{{i.pregunta | safe}}</button>
        <div class="panel">
            <p>{{i.respuesta | safe}}</p>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

<!-- Scripts -->
{% block scripts %}
       <!-- Accordion -->
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "40px";
                }
            }
        }
    </script>

{% endblock scripts %}


