{% extends 'core/base.html' %}
{% block title %}Blog CA{% endblock title %}
{% load static %}

<!-- Principal Banner Img -->
{% block banner-img %}
background-image: url('{% static 'core/img/galeria/escena/2.jpg' %}');
{% endblock banner-img %}

<!-- Banner Text -->
{% block banner-text %}
<h1>Nuestro Blog</h1>
<p>Contigo América</p>
<a>Reseñas</a>
<spam> // </spam>
<a>Artículos</a>
{% endblock banner-text %}

<!-- Sub Banner Background Color -->
{% block subbanner-color %}
    background-color: #d64223;
{% endblock %}

<!-- Head text -->
{% block head-text %}

{% endblock head-text %}

<!-- Content -->
{% block content %}
<div class="blog-container">
    <div class="post-container col-one">
        <div class="hero-one">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h2>Heading</h2>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
        </div>
    </div>
    <div class="post-container col-two">
        <div class="hero-two">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
        </div>
        <div class="hero-three">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
        </div>
    </div>
    <div class="post-container col-three">
        <div class="hero-four">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
        </div>
        <div class="hero-five">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>Heading</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
        </div>
    </div>
</div>
<div class="blog-main">
    <div class="blog-ul-container">
        <ul class="clearfix">


            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>
            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>
            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>
            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>
            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>
            <li class="blog-br">
                <a>
                    <div class="blog-main-header" style="background-image:url('{% static 'core/img/galeria/escena/1.jpg' %}');">
                        <h4>Título</h4>
                        <h3></h3>
                    </div>
                    <div class="blog-main-footer">
                        <h2>xalala</h2>
                        <p>xallalalalala2</p>
                    </div>
                </a>
            </li>


        </ul>
    </div>

    <div class="filtros" id="">
        <button class="btn active" onclick="filterSelection('all')">Mostrar Todas las obras</button>
        <h3>Géneros</h3>
        <button class="btn" onclick="filterSelection('lala')"> lala</button>
        <button class="btn" onclick="filterSelection('love')"> love</button>
        <button class="btn" onclick="filterSelection('music')"> music</button>
        <button class="btn" onclick="filterSelection('climbing')"> climbing</button>
        <h3>Duración</h3>
        <button class="btn" onclick="filterSelection('lala')"> lala</button>
        <button class="btn" onclick="filterSelection('love')"> love</button>
        <button class="btn" onclick="filterSelection('music')"> music</button>
        <button class="btn" onclick="filterSelection('climbing')"> climbing</button>
    </div>

</div>

<div class="clearfix"></div>

{% endblock content %}

<!-- Scripts -->
{% block scripts %}

{% endblock scripts %}