{% extends 'core/base.html' %}
{% block title %}Blog CA{% endblock title %}
{% load static %}

<!-- Principal Banner Img -->
{% block banner-img %}
background-image: url('{% static 'core/img/galeria/escena/2.jpg' %}');
{% endblock banner-img %}

<!-- Banner Text -->
{% block banner-text %}
<h1>Nuestro Blog</h1>
<p>Contigo América</p>
<a>Reseñas</a>
<spam> // </spam>
<a>Artículos</a>
{% endblock banner-text %}

<!-- Sub Banner Background Color -->
{% block subbanner-color %}
    background-color: #d64223;
{% endblock %}

<!-- Head text -->
{% block head-text %}
{% endblock head-text %}

<!-- Content -->
{% block content %}
<div class="blog-container">
    <div class="post-container col-one">
    {% if cMain %}
        {% for i in cMain %}
            <div class="hero-one">
                <a href='{% url "categorias" "reseñas" %}'>
                <img src="{{i.imagen.url}}" alt="Notebook" style="width:100%;">
                <div class="post-content">
                    <h2>{{i.titulo}}</h2>
                    <p>{{i.descripcion}}</p>
                </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="hero-one">
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h2>SIN ENTRADAS</h2>
                <p>Por el momento no existen entradas en esta sección</p>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="post-container col-two">
        <div class="hero-two">
        {% if cSec %}
            {% for i in cSec %}
            <a href="{% url 'categorias' 'articulos' %}">
            <img src="{{i.imagen.url}}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>{{i.titulo}}</h4>
                <p>{{i.descripcion}}</p>
            </div>
            </a>
            {% endfor %}
        {% else %}
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>SIN ENTRADAS</h4>
                <p>Sin Entradas en esta sección.</p>
            </div>
        {% endif %}
        </div>
        <div class="hero-three">
        {% if cTer %}
            {% for i in cTer %}
            <a href='{% url "categorias" "entrevistas" %}'>
                <img src="{{i.imagen.url}}" alt="{{i.titulo}}" style="width:100%;">
                <div class="post-content">
                    <h4>{{i.titulo}}</h4>
                    <p>Número de Entradas</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>SIN ENTRADAS</h4>
                <p>Sin entradas en esta sección.</p>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="post-container col-three">
        <div class="hero-four">
        {% if cCuart %}
            {% for i in cCuart %}
            <a href='{% url "categorias" "enprofundidad" %}'>
            <img src="{{i.imagen.url}}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>{{i.titulo}}</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
            </a>
            {% endfor %}
        {% else %}
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>SIN ENTRADAS</h4>
                <p>Sin entradas en esta sección.</p>
            </div>
        {% endif %}
        </div>
        <div class="hero-five">
        {% if cQuint %}
            {% for i in cQuint %}
            <a href='{% url "categorias" "noticias" %}'>
            <img src="{{i.imagen.url}}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>{{i.titulo}}</h4>
                <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu
                    recteque
                    expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            </div>
            </a>
            {% endfor %}
        {% else %}
            <img src="{% static 'core/img/inst/historia/blas.jpg' %}" alt="Notebook" style="width:100%;">
            <div class="post-content">
                <h4>SIN ENTRADAS</h4>
                <p>Sin entradas en esta sección.</p>
            </div>
        {% endif %}
        </div>
    </div>
</div>

<div class="blog-main"> 
    <div class="blog-ul-container">

    {% if test %}
        {% for i in test %}  
                            
                <div class="filterDiv blog-br  {% for a in i.etiquetaBlog.all %}
                                                {{a.name}}
                                            {% endfor %}">
                    <a href="{% url 'blog-bio' 0 %}">
                        <div class="blog-main-header" style="background-image:url('{{i.imagen.url}}');">
                            <h4>{{i.titulo}}</h4>
                        </div>
                        <div class="blog-main-footer">
                            <h2>{{i.autor}}</h2>
                            <p>{{i.contenido | safe}}</p>
                        </div>
                    </a>
                </div>



        {% endfor %}
    {% else %}
    <div class="resultado-sin-contenido" style="padding:0 3%;">
        <h1>Lo sentimos, por el momento no existen entradas que mostrar.</h1>
        <h2>Lo invitamos visite otras secciones de la página...</h2>
        <ul>
            <li><a href="{% url 'cartelera' %}">Cartelera</a></li>
            <li><a href="{% url 'historia' %}">Nuestra Historia</a></li>
            <li><a href="{% url 'biblioteca' %}">Nuestra Bilbioteca</a></li>
            <li><a href="{% url 'galeria' %}">Nuestra Galería</a></li>
            <li><a href="{% url 'foro' %}">Nuestro Foro</a></li>
            <li><a href="{% url 'compañia' %}">Nuestra Compañía de Teatro</a></li>
        </ul>
    </div>
    {% endif %}
    </div>

    {% if test %}
    <div class="filtros" id="myBtnFilters">
        <button class="btnBlog activeFilter" onclick="filterSelection('all')">Mostrar Todas las obras</button>
        <h3>Filtros</h3>
        {% for a in etiquetas %}
        <button class="btnBlog" onclick="filterSelection('{{a}}')">{{a}}</button>
        {% endfor %}
    </div>
    {% endif %}

</div>

<div class="clearfix"></div>
{% endblock content %}

<!-- Scripts -->
{% block scripts %}
<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "showBlog");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "showBlog");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
    var btnFilterContainer = document.getElementById("myBtnFilters");
    var btnsFilter = btnFilterContainer.getElementsByClassName("btnBlog");
    for (var i = 0; i < btnsFilter.length; i++) {
    btnsFilter[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("activeFilter");
        current[0].className = current[0].className.replace(" activeFilter", "");
        this.className += " activeFilter";
    });
}
</script>
{% endblock scripts %}