<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Load Static -->
	{% load static %}
	<!-- Meta -->
	<meta content="text/html charset=iso-8859-1 http-equiv=Content-Type">
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<meta http-equiv="Content-Type" content="application/json" charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<!-- Title -->
	<title>Contigo América || {% block title %}{% endblock title %}</title>
	<!-- Ico -->
	<link rel="Shortcut Icon" href="{% static 'core/img/logos/logo_footer.ico' %}" type="image/x-icon" />
	<!-- Estilos -->
	<link href="{% static 'core/css/styleca_v4.css' %}" rel="stylesheet">
	<!-- Fuentes -->
	<link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Sree+Krushnadevaraya|Tinos:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700|Karla:400,400i,700,700i|Lato:400,400i,700,700i,900" rel="stylesheet">
	<!-- Links Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- jQuerry -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'core/js/jquery-1.11.2.js' %}"></script>

	<!-- w3 Modals -->
	{% if 'foro' in request.path %}
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	{% endif %}
	<!-- Block Head -->
	{% block head %}{% endblock head %}
	<!-- Este es el elemento META Author -->
<meta name="author" content="Contigo América." />

<!-- Este es el elemento META Description -->
<meta name="description" content="Desde hace más de 31 años, desarrollamos una trayectoria de trabajo artístico y cultural, conformando un referente del teatro independiente mexicano." />

<!-- Este es el elemento META Keywords -->
<meta name="keywords" content="teatro, foro, independiente, contigo, américa, mexico, sudamerica, indie, puesta en escena, contigo américa, colonia napoles, investigación, talleres, obras de teatro, df, cartelera, doblaje, actuación, improvisación, muestra de artes escenicas, ciudad de mexico, fuente ovejuna, trayectoria, centroforward, raquel seoane, facebook" />

<!-- Este es el elemento META Revisit after -->
<meta name="revisit-after" content="1 days">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26404307-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>


<body class="">
	{% block biblio %}{% endblock biblio %}

	{% if request.path != '/biblioteca/' %}
	<nav id="navbar">
		<div class="base-logo" id="base-logo">
			<a href="{% url 'index' %}"><img id="base-logo-img" src="{% static 'core/img/logos/contigo_america_fondo_blanco.png' %}" /></a>
		</div>
		<div id="base-brand" class="inline-block base-brand">
			<h1 id="base-brand-h1">Contigo América</h1>
			<h4 id="base-brand-h4">Institución Teatral Independiente A.C.</h4>
		</div>

		<div class="nav-intro-menu">
			<!-- Nav intro Foro -->
			<div class="nav-intro nav-intro-base">
				<button id="introForoModalBtn" title="Menú Foro" class="nav-intro-btn-base"><i class="material-icons icons-intro">menu</i>  Nuestro Foro</button>

				<!-- Foro Intro Modal -->
				<div id="introForoModal" class="modalDp intro-modal">
					<!-- Modal Content -->
					<div id="foroMenu" class="nav-intro-content">
						<span class="intro-modal-close introFMC">&times;</span>
						<div class="fix-menu-intro-top-foro menu-intro-top">
							<div class="inline-block intro-box intro-cartelera-content">
								<img src="{% static 'core/img/foro/cartelera/3.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-4" class="second-intro-links">
									<a href="{% url 'cartelera' %}">Cartelera</a>
									<a href="{% url 'compañia' %}">Grupo de Teatro Contigo América</a>
									<a href="{% url 'blog' %}#calendario">Blog</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-foro-content">
								<img src="{% static 'core/img/foro/espacios/3.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-2" class="second-intro-links">
									<a href="{% url 'foro' %}">Nuestros Espacios</a>
									<a href="{% url 'convocatorias' %}">Presenta tu obra</a>
									<a href="{% url 'rentas' %}">Renta un espacio</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-faqs-content">
								<img src="{% static 'core/img/foro/espacios/fachada.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-3" class="second-intro-links">
									<a href="{% url 'contacto' %}#mapa">Nuestra Historia</a>
									<a href="{% url 'biblioteca' %}" >Biblioteca</a>
									<a href="{% url 'contacto' %}#indicaciones">Ubicación</a>
								</div>
							</div>
						</div>
						<div class="menu-intro-bottom">
							<div class="float-left intro-contact-links">

								<div class="inline-block intro-contact-sublinks">
									<a href="{% url 'acerca' %}">Acerca</a>
									<a href="{% url 'contacto' %}#contact">Directorio</a>
									<a href="{% url 'contacto' %}">Contacto</a>
								</div>
								<div class="intro-contact-sublinks display-contact-sublinks">
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i> - contigoamerica@yahoo.com.mx</a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i> - (55) 75 89 09 17</a>
								</div>
								<div class="intro-contact-sublinks respon-contact-sublinks">
									<a title="Escríbenos en Messenger" target="_blank" href="https://m.me/ContigoAmerica"><i id="footer-whats" class='fab fa-facebook-messenger'></i></a>
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i></a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i></a>
								</div>
							</div>
							<div class="float-right intro-general-links">
								<div class="nav-intro-icons">
									{% if LINK_FACEBOOK %}
									<a target="_blank" href="{{LINK_FACEBOOK}}" ><i title="Facebook" class="fab fa-facebook-f"></i></a>
									{% endif %}
									{% if LINK_TWITTER %}
									<a target="_blank" href="{{LINK_TWITTER}}" ><i title="Twitter" class="fab fa-twitter"></i></a>
									{% endif %}
									{% if LINK_INSTAGRAM %}
									<a target="_blank" href="{{LINK_INSTAGRAM}}" ><i title="Instagram" class="fab fa-instagram"></i></a>
									{% endif %}
								</div>
								<a href="{% url 'blog' %}" class="inline-block">Blog</a>
								<a href="{% url 'faqs' %}" class="inline-block">Faqs</a>
								<a href="{% url 'galeria' %}" class="inline-block">Galería</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Nav intro Institución -->
			<div class="nav-intro nav-intro-base">
				<button id="introInstModalBtn" title="Menú Institución" class="nav-intro-btn-base"><i class="material-icons icons-intro">menu</i>  Institución</button>

				<div id="introInstModal" class="modalDp intro-modal">

					<div id="instMenu" class="nav-intro-content">
						<span class="intro-modal-close introClsM">&times;</span>
						<div class="fix-menu-intro-top-foro  menu-intro-top">
							<div class="inline-block intro-box intro-c-content">
								<img src="{% static 'core/img/inst/compania/grupo.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-5" class="second-intro-links">
									<a href="{% url 'compañia' %}">Grupo de Teatro</a>
									<a href="{% url 'compañia' %}#repertorio">Repertorio</a>
									<a href="{% url 'historia' %}">Historia</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-historia-content">
								<img src="{% static 'core/img/inst/historia/blas.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-6" class="second-intro-links">
									<a href="{% url 'foro' %}">Nuestro Foro</a>
									<a href="{% url 'historia' %}#Qsomos">¿Quiénes Somos?</a>
									<a href="{% url 'galeria' %}">Galería</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-ints-content">
								<img src="{% static 'core/img/inst/quehacer/4.jpg' %}" />
								<div class="principal-intro-link">

								</div>
								<div id="foroColor-7" class="second-intro-links">
									<a href="{% url 'blog' %}">Nuestro Blog</a>
									<a href="{% url 'biblioteca' %}">Biblioteca</a>
									<a href="{% url 'cartelera' %}">Cartelera del Foro</a>
								</div>
							</div>
						</div>
						<div class="menu-intro-bottom">
							<div class="float-left intro-contact-links">

								<div class="inline-block intro-contact-sublinks">
									<a href="{% url 'acerca' %}">Acerca</a>
									<a href="{% url 'contacto' %}#contact">Directorio</a>
									<a href="{% url 'contacto' %}">Contacto</a>
								</div>
								<div class="intro-contact-sublinks display-contact-sublinks">
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i> - contigoamerica@yahoo.com.mx</a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i> - (55) 75 89 09 17</a>
								</div>
								<div class="intro-contact-sublinks respon-contact-sublinks">
									<a title="Escríbenos en Messenger" target="_blank" href="https://m.me/ContigoAmerica"><i id="footer-whats" class='fab fa-facebook-messenger'></i></a>
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i></a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i></a>
								</div>
							</div>
							<div class="float-right intro-general-links">
								<div class="nav-intro-icons">
									{% if LINK_FACEBOOK %}
									<a target="_blank" href="{{LINK_FACEBOOK}}" ><i title="Facebook" class="fab fa-facebook-f"></i></a>
									{% endif %}
									{% if LINK_TWITTER %}
									<a target="_blank" href="{{LINK_TWITTER}}" ><i title="Twitter" class="fab fa-twitter"></i></a>
									{% endif %}
									{% if LINK_INSTAGRAM %}
									<a target="_blank" href="{{LINK_INSTAGRAM}}" ><i title="Instagram" class="fab fa-instagram"></i></a>
									{% endif %}
								</div>
								<a href="{% url 'blog' %}" class="inline-block">Blog</a>
								<a href="{% url 'faqs' %}" class="inline-block">Faqs</a>
								<a href="{% url 'galeria' %}" class="inline-block">Galería</a>


							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
	</nav>
	<!-- Contenido -->
	<div id="content">
		<div class="content-container">
			<div class="banner-container">
				<div class="principal-banner-gal" style="{% block banner-img %}{% endblock %}">
					<div class="principal-banner-text" style="{% block banner-text-style %}{% endblock %}">
						{% block banner-text %}{% endblock banner-text %}
					</div>
					{% if 'presentaciones' in request.path or 'obra' in request.path or 'bio' in request.path or 'compañero' in request.path %}
						<div id=""
							 class="bio-banner-img">
							{% block bio-perfil-img %}{% endblock %}
							<div class="fecha-bio">
								{% block fecha-bio %}{% endblock %}
							</div>
						</div>
					{% endif %}
				</div>
				<div style="{% block subbanner-color %}{% endblock %}" class="sub-banner sub-banner-n">
				</div>
				{% if 'historia' not in request.path and 'blog' not in request.path and 'presentaciones' not in request.path %}
				<div style="text-align: center;" class="head-text">
					{% block head-text %}{% endblock head-text %}
				</div>
				{% endif %}
			</div>

			{% block content %}{% endblock content %}
		</div>
	</div>
	<!-- Footer -->
	<footer>
		<div class="footer-container">
			<div class="footer-diagonal">
				<div class="footer-redes">
					{% if LINK_FACEBOOK %}
					<a target="_blank" href="{{LINK_FACEBOOK}}" ><i title="Facebook" class="fab fa-facebook-f"></i></a>
					{% endif %}
					{% if LINK_TWITTER %}
					<a target="_blank" href="{{LINK_TWITTER}}" ><i title="Twitter" class="fab fa-twitter"></i></a>
					{% endif %}
					{% if LINK_INSTAGRAM %}
					<a target="_blank" href="{{LINK_INSTAGRAM}}" ><i title="Instagram" class="fab fa-instagram"></i></a>
					{% endif %}
				</div>
				<div class="footer-bottom" style="background-image:
				url('{% static 'core/img/logos/logo_footer.png' %}');">
					<img />
					<div class="footer-info-container">
						<div style="padding: 0px;" class="menu-footer">
							<h3>Nuestro Foro</h3>
							<a href="{% url 'cartelera' %}">Cartelera</a>
							<a href="{% url 'acerca' %}">Acerca</a>
							<a href="{% url 'convocatorias' %}">Convocatorias</a>
							<a href="{% url 'rentas' %}">Rentas</a>
							<a href="{% url 'faqs' %}">Faqs</a>
						</div>
						<div class="menu-footer">
							<h3>Institución</h3>
							<a href="{% url 'historia' %}">Historia</a>
							<a href="{% url 'compañia' %}">Grupo de Teatro</a>
							<a href="{% url 'biblioteca' %}">Biblioteca</a>
							<a href="{% url 'blog' %}">Blog</a>
							<a href="{% url 'galeria' %}">Galería</a>
							<a href="{% url 'contacto' %}">Contacto</a>


						</div>
						<div id="footer-ca-contact" class="menu-footer">
							<h1>Contigo América</h1>
							<h4 id="fix-footer-contact-h4">Institución Teatral Independiente, A.C.</h4>
							<div class="footer-list">
								<ul>
									<li>
										<p><span> </span>Arizona #156,
											Colonia Nápoles, CDMX.</p>
									</li>
									<li>
										<div class="kit-contacto">
											<a title="Escríbenos en Messenger" target="_blank" href="https://m.me/ContigoAmerica"><i id="footer-whats" class='fab fa-facebook-messenger'></i></a>
											<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i></a>
											<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i></a>
											<span> | </span>
											<a title="Open Google in Arizona #156" href="http://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Foro+contigo+america&amp;aq=&amp;ie=UTF8&amp;t=m&amp;vpsrc=0&amp;ll=19.392763,-99.18057&amp;spn=0.080313,0.308647&amp;z=12&amp;iwloc=AMERICA&amp;layer=c&amp;cbll=19.39285,-99.180622&amp;panoid=dEwlnjud7l_ucQKoXJbo3w&amp;cbp=11,118.46,,0,24.43&amp;cid=6788477392664741161"
                      							target="_blank"><i class="fas fa-map-marker-alt"></i></a>
											<a title="Faqs" href="{% url 'faqs' %}"><i class="far fa-question-circle"></i></a>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="bluescode">


					<p>&#174; Blues Code</p>
				</div>
			</div>
		</div>
	</footer>
	{% endif %}
	<!-- Scripts -->
	<!-- Shrink navbar -->
	<script>
		// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {

			var path = "{{ request.path }}";
			var cart = path.includes("presentaciones");
			var aboutBio = path.includes("bio")
			console.log(cart);
			if (cart || aboutBio) {
				document.getElementById("navbar").style.padding = "";
				document.getElementById("base-logo-img").style.width = "0%";
				document.getElementById("base-brand").style.display = "none";
				document.getElementById("content").style.marginTop = "45px";
				//
				document.getElementById("base-logo").style.padding = "0px";
				document.getElementById("base-logo").style.marginTop = "-25px";
				document.getElementById("base-menu").style.marginBottom = "0px";
				//
				document.getElementById("navbar").style.padding = "0px";

			} else if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 150) {
				document.getElementById("base-logo-img").style.width = "0%";
				document.getElementById("base-brand").style.display = "none";
				document.getElementById("content").style.marginTop = "17%";
				//
				document.getElementById("base-logo").style.padding = "0px";
				document.getElementById("base-logo").style.marginTop = "-35px";
				document.getElementById("base-menu").style.marginBottom = "0px";
				//
				document.getElementById("navbar").style.padding = "0px";






			} else {
				document.getElementById("base-logo-img").style.width = "25%";
				document.getElementById("base-brand").style.display = "block";
				document.getElementById("content").style.marginTop = "25%";
				document.getElementById("base-logo").style.paddingTop = "15px";
				document.getElementById("base-logo").style.marginTop = "0px";
				document.getElementById("base-menu").style.marginBottom = "20px";
				//
				document.getElementById("navbar").style.padding = "1%";



			}
		}
	</script>
	<!-- Block Scripts -->
	{% block scripts %}{% endblock scripts %}

	<!-- Scripts NAV MODAL MENU -->
	<script>
		$(document).ready(function(){

		$("#foroColor-2").hover(function(){
		$('#foroMenu').css("background-color", "#f8ec48");
		});
		$("#foroColor-3").hover(function(){
		$('#foroMenu').css("background-color", "#23b7d6");
		});
		$("#foroColor-4").hover(function(){
		$('#foroMenu').css("background-color", "#d64223");
		});
		$("#foroColor-5").hover(function(){
		$('#instMenu').css("background-color", "#d64223");
		});
		$("#foroColor-6").hover(function(){
		$('#instMenu').css("background-color", "#f8ec48");
		});
		$("#foroColor-7").hover(function(){
		$('#instMenu').css("background-color", "#23b7d6");
		});
		});
	</script>
	<script>
		// Get the modal
		var modala = document.getElementById("introForoModal");

		// Get the button that opens the modal
		var btn = document.getElementById("introForoModalBtn");

		// Get the <span> element that closes the modal
		var spanb = document.getElementsByClassName("introFMC")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function() {
			modala.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		spanb.onclick = function() {
			modala.style.display = "none";
		}

	</script>
	<script>
		// Get the modal
		var modalForo = document.getElementById("introForoModal");
		var modalInst = document.getElementById("introInstModal");
		var modalDp = document.getElementsByClassName("modalDp")[0];

		// Get the button that opens the modal
		var btn = document.getElementById("introInstModalBtn");

		// Get the <span> element that closes the modal
		var spana = document.getElementsByClassName("introClsM")[0];

		// When the user clicks the button, open the modal
		btn.onclick = function() {
			modalInst.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		spana.onclick = function() {
			modalInst.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modalForo) {
				modalForo.style.display = "none";
			}
			if (event.target == modalInst) {
				modalInst.style.display = "none";
			}
		}
	</script>

</body>


</html>