{% extends 'core/base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %}Compañía{% endblock title %}

<!-- Banner Background img -->
{% block banner-img %}
background-image: url('{% static 'core/img/historia/grupo-4.jpg' %}');
background-repeat: no-repeat;
background-size: unset;
background-position-y: 33%;
background-position-x: 0%;
height:;
{% endblock banner-img %}

<!-- Principal Banner Text -->
{% block banner-text %}
<h5>Compañía de Teatro</h5>
<p>Contigo América</p>
{% endblock banner-text %}
{% block banner-text-style %}
left:25%;
{% endblock %}

<!-- Sub Banner Background Color -->
{% block subbanner-color %}
background-color: #d64223;
{% endblock %}

<!-- Head Text -->
{% block head-text %}
<h3>Nuestra propuesta creativa</h3>
<p>Nuestro proyecto de grupo abarca la producción de
	obras, la investigación teatral, la formación
	actoral y la gestión cultural. Desde nuestro inicio
	nos planteamos transitar el quehacer teatral como una
	forma de expresión de ideas, sentimientos y búsqueda
	grupal, ejerciendo la mayor libertad posible en la
	creación. En el devenir de estos años, la experiencia
	humana nos sigue señalando que el teatro, en su
	expresión artística, estética y humanista enriquece la
	sensibilidad y la conciencia de lo que somos y queremos
	er. Nuestra entrega y compromiso para con el teatro
	mexicano, latinoamericano y universal ha sido exponer la
	condición humana e intentar la construcción de una
	sociedad más justa, más libre, más creativa.
</p>
{% endblock head-text %}

<!--  Contenido -->
{% block content %}
<div class="compañia-contenedor">
	<div class="compañia-header">
		<div class="bio-container col-one-co">
			<div class="bio-one">
				<img src="{% static 'core/img/grupo/grupo-1.jpg' %}" alt="Notebook" style="width:100%;">
			</div>
			<div class="bio-two">
				<img src="{% static 'core/img/about/grupo_sandra.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p> ponderum tractatos ei.</p>
				</div>
			</div>
			<div class="bio-three">
				<img src="{% static 'core/img/about/grupo_hector.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p> ponderum tractatos ei.</p>
				</div>
			</div>
			<div class="bio-four">
				<img src="{% static 'core/img/grupo/grupo-2.jpg' %}" alt="Notebook" style="width:100%;">
			</div>
		</div>
		<div class="bio-container col-two-co">
			<div class="bio-5">
				<img src="{% static 'core/img/historia/grupo-4.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p>.</p>
				</div>
			</div>
			<div class="bio-6">
				<img src="{% static 'core/img/grupo/grupo-3.jpg' %}" alt="Notebook" style="width:100%;">

			</div>
			<div class="bio-7">
				<img src="{% static 'core/img/grupo/grupo-4.jpg' %}" alt="Notebook" style="width:100%;">

			</div>
			<div class="bio-8">
				<img src="{% static 'core/img/about/grupo_ale.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p>.</p>
				</div>
			</div>
		</div>
		<div class="bio-container col-three-co">
			<div class="bio-9">
				<img src="{% static 'core/img/grupo/grupo-5.jpg' %}" alt="Notebook" style="width:100%;">
			</div>
			<div class="bio-10">
				<img src="{% static 'core/img/about/grupo_lili.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p> ponderum tractatos ei.</p>
				</div>
			</div>
			<div class="bio-11">
				<img src="{% static 'core/img/about/grupo_willi.jpg' %}" alt="Notebook" style="width:100%;">
				<div class="bio-content">
					<h1>Heading</h1>
					<p> ponderum tractatos ei.</p>
				</div>
			</div>
			<div class="bio-12">
				<img src="{% static 'core/img/grupo/grupo-6.jpg' %}" alt="Notebook" style="width:100%;">
			</div>
		</div>
	</div>

	<div class="lista-biblio-container">
		<h2>Repertorio</h2>
		<div class="libro-container">
			<img id="repertorio-img" src="{% static 'core/img/galeria/escena/6.jpg' %}" />
			<div class="libro-info">
				<h1>Satisfechos</h1>
				<h4>Dirección William Sayago</h4>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae officiis sapiente id itaque, ex, sunt dolorem
					repellat, nisi eos facilis rem. Cum quae tenetur sunt vitae ullam, labore architecto doloremque.</p>
				<ul>
					<li>Etiquetas</li>
					<li>Etiquetas</li>
				</ul>
			</div>
		</div>

	</div>
</div>

<div class="clearfix"></div>
{% endblock content %}

<!-- Scripts -->
{% block scripts %}

{% endblock scripts %}