{% extends 'core/base.html' %}
{% load static %}
{% block title %}El Grupo{% endblock title %}

{% block banner-text-style %}
left: 50%;
{% endblock %}
{% block banner-img %}
background-image: url('{% static 'core/img/galeria/escena/5.jpg' %}');
{% endblock banner-img %}
{% block banner-text %}
<h5>Acerca de</h5>
<p>El Equipo</p>
{% endblock banner-text %}

{% block subbanner-color %}
background-color: #d64223;
{% endblock %}

{% block head-text %}
<p>Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Fugiat nam, numquam
    itaque dicta hic repudiandae nihil possimus
    laudantium atque at libero cum iste odit eveniet
    liquam debitis placeat dolores reprehenderit!</p>
{% endblock head-text %}

{% block content %}
<!-- About Container -->
<div class="about-container container">
    <h2>Equipo de trabajo del "Foro Contigo América". </h2>
    <p>Super Equipo.</p>
    <br>
    {% for i in all %}
    <div class="about-row">
        <div class="about-column">
            <div class="about-card">
                <img src="{{i.imagenPerfil.url}}" alt="Mike" style="">
                <div class="about-container">
                    <h2>{{i.nombre.first_name}} {{i.nombre.last_name}}</h2>
                    <p class="about-title"></p>
                    <p></p>
                    <p>Contacto</p>
                    <p><button class="about-button"><a href="{% url 'acerca-bio' i.nombre.id %}">Más Info</a></button></p>
                </div>
            </div>
        </div>
        
    </div>
    {% endfor %}
    <!-- <div>
            <div>
                <img src="">
                Blog
            </div>
            <div>Compañía de Teatro</div>
            <div>Nuestra Hisotría</div>
            <div>Contacto</div>
        </div> -->
</div>
{% endblock content %}

{% block scripts %}
<!-- Scripts - About-Column  -->
<script>
    var elements = document.getElementsByClassName("about-column");
    function two() {
        for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "50%";  // IE10
            elements[i].style.flex = "50%";
        }
    }
</script>
{% endblock scripts %}