{% extends 'core/base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %}Biblioteca{% endblock title %}

<!-- Banner Background img -->
{% block banner-img %}
{% endblock banner-img %}

<!-- Principal Banner Text -->
{% block banner-text %}
{% endblock banner-text %}

<!-- Head Text -->
{% block head-text %}
{% endblock head-text %}

<!--  Contenido -->
{% block biblio %}
    <div class="parallax" style="background-image: url('{% static 'core/img/foro/espacios/biblio5.jpg' %}');">
        <div class="biblio-hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static core/photographer.jpg');">
            <div class="biblio-hero-text">
                <h1 style="font-size:50px">Biblioteca Raquel Seoane</h1>
                <h4>Institución Teatral Independiente</h4>
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <form method='GET' action="{% url 'biblio-index' %}">
                        {% csrf_token %}
						{{ form.as_p }} 
                        <input type="search" name="qs" id="search" placeholder="Search..." />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-biblio">
        <div id="biblio-navbar">
            <div class="base-logo" id="biblio-logo">
                <img id="biblio-logo-img" src="{% static 'core/img/logos/contigo_america_fondo_blanco.png' %}" />
            </div>
            <div id="biblio-brand" class="inline-block base-brand">
                <h3 id="biblio-brand-h3">Contigo América</h3>
                <h4 id="biblio-brand-h4">Institución Teatral Independiente A.C.</h4>
            </div>

            <div class="nav-intro-menu">
			<!-- Nav intro Foro -->
			<div class="nav-intro nav-intro-base">
				<button id="introForoModalBtn" title="Menú Foro" class="nav-intro-btn-base"><i class="material-icons icons-intro">menu</i>  Nuestro Foro</button>
				
				<!-- Foro Intro Modal -->
				<div id="introForoModal" class="modalDp intro-modal">
					<!-- Modal Content -->
					<div id="foroMenu" class="nav-intro-content">
						<span class="intro-modal-close introFMC">&times;</span>
						<div class="fix-menu-intro-top-foro menu-intro-top">
							<div class="inline-block intro-box intro-cartelera-content">
								<img src="{% static 'core/img/foro/cartelera/Danieltatita.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-4" class="second-intro-links">
									<a href="{% url 'cartelera' %}">Cartelera</a>
									<a href="{% url 'compañia' %}">Compañia de Contigo América</a>
									<a href="{% url 'blog' %}#calendario">Blog</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-foro-content">
								<img src="{% static 'core/img/foro/espacios/biblio.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-2" class="second-intro-links">
									<a href="{% url 'foro' %}">Foro</a>
									<a href="{% url 'convocatorias' %}">Presenta tu obra</a>
									<a href="{% url 'rentas' %}">Renta un espacio</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-faqs-content">
								<img src="{% static 'core/img/foro/espacios/fachada.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-3" class="second-intro-links">
									<a href="{% url 'contacto' %}#mapa">Ubicación</a>
									<a>Arizona #156, col. Nápoles, CDMX.</a>
									<a href="{% url 'contacto' %}#indicaciones">Indicaciones</a>
								</div>
							</div>
						</div>
						<div class="menu-intro-bottom">
							<div class="float-left intro-contact-links">

								<div class="inline-block intro-contact-sublinks">
									<a href="{% url 'acerca' %}">Acerca</a>
									<a href="{% url 'contacto' %}#contact">Directorio</a>
									<a href="{% url 'contacto' %}">Contacto</a>
								</div>
								<div class="intro-contact-sublinks">
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i> - contigoamerica@yahoo.com.mx</a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i> - (55) 75 89 09 17</a>
								</div>
							</div>
							<div class="float-right intro-general-links">
								<div class="nav-intro-icons">
									{% if LINK_FACEBOOK %}
									<a target="_blank" href="{{LINK_FACEBOOK}}" ><i title="Facebook" class="fab fa-facebook-f"></i></a>
									{% endif %}
									{% if LINK_TWITTER %}
									<a target="_blank" href="{{LINK_TWITTER}}" ><i title="Twitter" class="fab fa-twitter"></i></a>
									{% endif %}
									{% if LINK_INSTAGRAM %}
									<a target="_blank" href="{{LINK_INSTAGRAM}}" ><i title="Instagram" class="fab fa-instagram"></i></a>
									{% endif %}
								</div>
								<a href="{% url 'blog' %}" class="inline-block">Blog</a>
								<a href="{% url 'faqs' %}" class="inline-block">Faqs</a>
								<a href="{% url 'galeria' %}" class="inline-block">Galería</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Nav intro Institución -->
			<div class="nav-intro nav-intro-base">
				<button id="introInstModalBtn" title="Menú Institución" class="nav-intro-btn-base"><i class="material-icons icons-intro">menu</i>  Institución</button>
				
				<div id="introInstModal" class="modalDp intro-modal">

					<div id="instMenu" class="nav-intro-content">
						<span class="intro-modal-close introClsM">&times;</span>
						<div class="fix-menu-intro-top-foro  menu-intro-top">
							<div class="inline-block intro-box intro-c-content">
								<img src="{% static 'core/img/inst/compania/grupo.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-5" class="second-intro-links">
									<a href="{% url 'compañia' %}">Compañía</a>
									<a href="{% url 'acerca' %}">Grupo</a>
									<a href="{% url 'compañia' %}#repertorio">Repertorio</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-historia-content">
								<img src="{% static 'core/img/inst/historia/blas.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-6" class="second-intro-links">
									<a href="{% url 'historia' %}">Historia</a>
									<a href="{% url 'historia' %}#Qsomos">¿Quiénes Somos?</a>
									<a href="{% url 'galeria' %}">Galería</a>
								</div>
							</div>
							<div class="inline-block intro-box intro-ints-content">
								<img src="{% static 'core/img/inst/quehacer/4.jpg' %}" />
								<div class="principal-intro-link">
									
								</div>
								<div id="foroColor-7" class="second-intro-links">
									<a href="{% url 'blog' %}">Nuestro Blog</a>
									<a href="{% url 'biblioteca' %}">Biblioteca</a>
									<a href="{% url 'cartelera' %}">Cartelera del Foro</a>
								</div>
							</div>
						</div>
						<div class="menu-intro-bottom">
							<div class="float-left intro-contact-links">

								<div class="inline-block intro-contact-sublinks">
									<a href="{% url 'acerca' %}">Acerca</a>
									<a href="{% url 'contacto' %}#contact">Directorio</a>
									<a href="{% url 'contacto' %}">Contacto</a>
								</div>
								<div class="intro-contact-sublinks">
									<a href="mailto:contigoamerica@yahoo.com.mx" target="_blank" title="Send an e-mail to - contigoamerica@yahoo.com.mx"><i class='fas fa-envelope'></i> - contigoamerica@yahoo.com.mx</a>
									<a href="tel:01 (55)75 89 09 17" target="_blank" ><i title="01 (55)75 89 09 17" class='fas fa-phone'></i> - (55) 75 89 09 17</a>
								</div>
							</div>
							<div class="float-right intro-general-links">
								<div class="nav-intro-icons">
									{% if LINK_FACEBOOK %}
									<a target="_blank" href="{{LINK_FACEBOOK}}" ><i title="Facebook" class="fab fa-facebook-f"></i></a>
									{% endif %}
									{% if LINK_TWITTER %}
									<a target="_blank" href="{{LINK_TWITTER}}" ><i title="Twitter" class="fab fa-twitter"></i></a>
									{% endif %}
									{% if LINK_INSTAGRAM %}
									<a target="_blank" href="{{LINK_INSTAGRAM}}" ><i title="Instagram" class="fab fa-instagram"></i></a>
									{% endif %}
								</div>
								<a href="{% url 'blog' %}" class="inline-block">Blog</a>
								<a href="{% url 'faqs' %}" class="inline-block">Faqs</a>
								<a href="{% url 'galeria' %}" class="inline-block">Galería</a>
								

							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
        </div>
    </div>
{% endblock biblio %}

<!-- Scripts -->
{% block scripts %}
    <!-- Scripts NAV MODAL MENU -->
	<script>
		$(document).ready(function(){
			
		$("#foroColor-2").hover(function(){
		$('#foroMenu').css("background-color", "#f8ec48");
		});
		$("#foroColor-3").hover(function(){
		$('#foroMenu').css("background-color", "#23b7d6");
		});
		$("#foroColor-4").hover(function(){
		$('#foroMenu').css("background-color", "#d64223");
		});
		$("#foroColor-5").hover(function(){
		$('#instMenu').css("background-color", "#d64223");
		});
		$("#foroColor-6").hover(function(){
		$('#instMenu').css("background-color", "#f8ec48");
		});
		$("#foroColor-7").hover(function(){
		$('#instMenu').css("background-color", "#23b7d6");
		});
		});
	</script>
	<script>
		// Get the modal
		var modala = document.getElementById("introForoModal");

		// Get the button that opens the modal
		var btn = document.getElementById("introForoModalBtn");

		// Get the <span> element that closes the modal
		var spanb = document.getElementsByClassName("introFMC")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modala.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		spanb.onclick = function() {
			modala.style.display = "none";
		}

	</script>
	<script>
		// Get the modal
		var modalForo = document.getElementById("introForoModal");
		var modalInst = document.getElementById("introInstModal");
		var modalDp = document.getElementsByClassName("modalDp")[0];

		// Get the button that opens the modal
		var btn = document.getElementById("introInstModalBtn");

		// Get the <span> element that closes the modal
		var spana = document.getElementsByClassName("introClsM")[0];

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
			modalInst.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		spana.onclick = function() {
			modalInst.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modalForo) {
				modalForo.style.display = "none";
			}
			if (event.target == modalInst) {
				modalInst.style.display = "none";
			}
		}
	</script>
{% endblock scripts %}




