{% extends 'core/base.html' %}
{% load static %}

<!-- Título de la página -->
{% block title %}Biblioteca Index{% endblock title %}

<!-- Banner Background img -->
{% block banner-img %}
    background-image: url('{% static 'core/img/galeria/espacios/5.jpg' %}');
{% endblock banner-img %}

<!-- Principal Banner Text -->
{% block banner-text %}
    <h1>Bilbioteca Raquel Seone</h1>
    <h4>Institución Teatral Independiente A.C.</h4>
{% endblock banner-text %}

<!-- Head Text -->
{% block head-text %}
    <p class="blog-text"> "En este mundo globalizado, neoliberal, de una economía salvaje, en el que el ser humano ha sido descategorizado, convertido en mercancía, seguimos conscientes y empecinados en priorizar los principios que nos dieron vida, en hacer un teatro independiente, ahondar en nuestras raíces y en estrechar los vínculos con nuestra América Latina, para reafirmarnos humana y creativamente." Raquel Seoane.<br>www.proceso.com.mx, 27 de Marzo de 2012</p>
{% endblock head-text %}

<!--  Contenido -->
{% block content %}
    <div class="lista-biblio-container">
        <div class="query-content">
            <a style="cursor:default; color:#E0DFDD;">[ Categorias de Estudio ]</a>
        </div>
        <hr>
        
        <div class="cat-estudio-links" >
        <!-- categoría de estudio -->
                {% for i in cates %}
                <a href="{% url 'categoria_estudio' i.id %}" class="">[ {{i.categoria}} ]</a>
                {% endfor %}
        </div>
        <hr>
        {% if not query %}
            <h1>Lo sentimos por el momento no hay elementos.</h1>
            <h2>Estaremos contento de recibirlo en la biblioteca de forma presencial en el
            Foro Contigo América (con previa cita).</h2>
        {% endif %}

        <br>
    {% if not query %}
        {% for i in libros %}
        <div class="libro-container">
            <img src="{{i.imagen.url}}" />
            <div class="libro-info">
                <h1>{{i.titulo}}</h1>
                <h4>{{i.autor}}</h4>
                <p>{{i.descripcion | safe}}</p>
                {% for category in i.categorias.all %}
                    <a href="{% url 'categorias_biblio' category.id %}" class="link">[ {{category.name}} ]</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% elif listaResul %}
        {% for i in listaResul %}
        <div class="libro-container">
            <img src="{{i.imagen.url}}" />
            <div class="libro-info">
                <h1>{{i.titulo}}</h1>
                <h4>{{i.autor}}</h4>
                <p>{{i.descripcion | safe}}</p>
                {% for category in i.categorias.all %}
                    <a href="{% url 'categorias_biblio' category.id %}" class="link">[ {{category.name}} ]</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}


    {% else %}
        <h3>No se encontraron coincidencias de - "{{query}}".</h3>
        <form method="GET" action="{% url 'biblio-index' %}" >
            {% csrf_token %}
            {{ form.as_p }}  
            <input 	type='hidden' name="qs" value=' ' >
            <button type="submit" class="botton-ca">
                <a>[ Ver todos los libros ]</a>
            </button>
        </form>
    {% endif %}

    <br>
        
        
    
    </div>
{% endblock content %}

<!-- Scripts -->
{% block scripts %}
    
{% endblock scripts %}
